tag1 {
  font-style: normal;
  font-family: serif;
  font-size: 18px;
}

.cover-heading{
  margin: 0 auto;
  width: 500px;
  text-align: center;
  color: black;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Corben', Georgia, Times, serif;
}
p, div {
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
}

#future {
  margin-top: 50px;
  color: white;
  font-family: "Segoe UI", ,Arial,sans-serif;
  width: 500;
  left-margin: 50;
}

#mainbody{
  margin-top: 50px;
}

body{
    margin: 0 auto;
    /*background-size: 100% 100%;*/
}

input[type="text"]{
    width: 60%;
    display: block;
    margin-bottom: 10px;
    float: right;
    background-color: white;
    position: fixed;
    bottom:0;
}

.btn {
  margin-left: 90%;
  margin-right: 0;
  width: 150px;
  position: fixed;
  bottom: 0;
}

.btn-lg{
  margin-left: 90%;
  margin-right: 0;
  width: 150px;
  position: fixed;
  bottom: 0;
}

.btn-primary{
  margin-left: 90%;
  margin-right: 0;
  width: 150px;
  position: fixed;
  bottom: 0;
}
